# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers de base de données et logs (gérés par le disque Render)
*.db
*.log
claimed_nitro_codes.json
claimed_welcome_codes.json
nitro_codes.txt
config.json
bot_state.json

# Fichiers spécifiques au système ou à l'IDE
.vscode/
*.exe
charts/
.env
.dockerignore
.gitignore