# --- Core Frameworks ---
Flask
gunicorn
discord.py

# --- Shopify & Web Requests ---
ShopifyAPI
requests

# --- Database & Utils ---
aiosqlite
python-dotenv
beautifulsoup4
numpy
matplotlib
pillow
colorama
gevent